<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace ="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Update form</title>
</head>
<body>
	<section >
	<div class="card mr-3 ml-2">
		<div class="card-body ">
		<h1>Update your Contact</h1>
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action="" method ="POST" th:object="${contact}" enctype="multipart/form-data" th:action="@{/user/process-update}" class="mt-2">
							<!--hidden cId field -->
							<input  th:value="${contact.cId}" type="hidden" class="form-control" id="firstName" name ="cId" >
							<!-- <name> -->
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text ">
										<i class="fa fa-plus"></i>
								    </div>
								</div>
							    <input required="required" th:value="${contact.name}" type="text" class="form-control" id="firstName" name ="name" placeholder="enter name here">
							</div>
							<!-- secondName -->
							<div class="input-group mt-3">
							<div class="input-group-prepend">
							<div class="input-group-text ">
								<i class="fas fa-user-alt"></i>
						     
						    </div>
							</div>
							 
						      <input required="required" th:value="${contact.secondName}" type="text" class="form-control" id="secondName" name ="secondName" placeholder="enter second name here">
							</div>
							<!-- phone -->
							
							<div class="input-group mt-3">
							<div class="input-group-prepend">
							<div class="input-group-text ">
								<i class="fas fa-phone-alt"></i>
						     
						    </div>
							</div>
							 
						      <input required="required" th:value="${contact.phone}" min="6000000000" max="9999999999"  type="number" class="form-control" id="phone" name ="phone" placeholder="enter contact number  here">
							</div>
							<!-- email -->
							<div class="input-group mt-3">
							<div class="input-group-prepend">
							<div class="input-group-text ">
								@
						     
						    </div>
							</div>
							 
						      <input required="required" th:value="${contact.email}" type="email" class="form-control" id="email" name ="email" placeholder="enter email id here">
							</div>
							<!-- work -->
							<div class="input-group mt-3">
							<div class="input-group-prepend">
							<div class="input-group-text ">
								<i class="fa fa-briefcase"></i>
						     
						    </div>
							</div>
							 
						      <input required="required" th:value="${contact.work}" type="text" class="form-control" id="work" name ="work" placeholder="enter work type here">
							</div>
							<!-- description -->
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text ">
							    	</div>
								</div>
						      	<textarea id="mytextarea" th:text="${contact.description}" name ="description"  class="form-control"  cols="" rows="10"  placeholder="enter description"> </textarea>
							</div>
													
							<!-- image -->
							<div class="container">
								<img src="" style="height: 200px; width: 200px;" class="image-fluid my_profile_picture" th:src ="@{'/img/'+${contact.image}}">
							</div>
							<p> Choose new profile picture </p>
							<div class="custome-file">
								<input type="file" name="profileImage"/>
							</div>
							<div class="container text-center">
								<button class ="btn btn-outline-primary">Update contact </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- this script is responsible to display the text editor -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 
 <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
	</section>
</body>
</html>