<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace ="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>${title}</title>
</head>
<body>
	<section >
	<div class="card mr-3 ml-2">
		<div class="card-body ">
			<h1 class="text-center">View Contact</h1>
			<table class="table table-borderless">
			  <thead>
			    <tr>
			      <th scope="col">#Id</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th scope="col">Action</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    
			    <tr th:each = "c:${contacts}">
			      <th scope="row" th:text="'SCM2021'+${c.cId}">3</th>
			      <td >
			      <img src="" class="my_profile_picture" th:src ="@{'/img/'+${c.image}}" alt="profilePhoto">
			      <span th:text="${c.name}"></span></td>
			      <td >
			      <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
			      <span th:text="${c.Email}"></span>
				   </a>			     
			      </td>
			      <td th:text="${c.Phone}"></td>
			      <td>
			       <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
			     <!-- <a href="#" th:href="@{/user/contactUpdate}" class="item"><i class="fad fa-pencil"></i></a> -->
			     <!--  <button th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</button> -->
			      
			      <form th:action="@{'/user/update-contact/'+${c.cId}}" class ="mt-2" method="post">
			      <button type="submit" class="btn btn-danger btn-sm">Update</button>
			      </form>
			      </td>
			    </tr>
			  </tbody>
			</table>
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/view-contact/'+${currentPage-1}}" class="page-link" href="#"  >Previous</a></li>
			    
			    <li th:classappend ="${currentPage== i-1?'active':''}" th:each ="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/view-contact/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
			    
			    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/view-contact/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
			  </ul>
			</nav>
		</div>
	</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
	</section>
</body>
</html>